<section id="about" class="container content-section text-center">
	<div class="block center wrapper">
		<h1><small>Theme:</small> Make Life Easy!</h1>
		<div class="row">
			<div class="col-md-12">
				<p class="dropcap justify col-md-6">
					We live in a world where technology is making a lot of things easy to access and use. Unfortunately there are still so many things out there that are not so easily accessible to people. People want a quicker way of getting information, they want to know about what is happening around them, they want better service delivery and they simply want things that will make their lives much easier.
				</p>
				<p class="justify col-md-6">
					The theme will allow the attendees to build products/solutions that will make the daily lives of people a lot easier. It can be about education, health, shopping, gaming, entertainment, social media, fashion, construction, job seeking, transportation, music, art, etc. Prototypes will be submitted and pitched during the last day of the Hackathon and a winning team will be selected.
				</p>
			</div>
		</div>
	</div>
	<div class="block center wrapper">
		<h1>Who can attend?</h1>
		<div class="row">
			<div class="col-md-12">
				<p class="text-center">
We’re looking for creative and innovative young people who can contribute to a project. The main set of skills or background knowledge are the following: <br> Mobile app developers (Android, Windows Phone, Windows 8, iOS, NokiaX) • Hardware and Electronics • Game Developers • Young Entrepreneurs • Designers • Creatives • Web Developers
				</p>
			</div>
		</div>
	</div>
</section>
