<!-- Get ın touch -->
<section class="get-in-touch" id="contact">
  <div class="block wrapper">
    <div class="text-center">
      <h1 class="text-center">Get ın touch <small></small></h1>
      <p class="text-center">Drop us a message in case you need more informations about the event</p>
      <hr class="page-divider small"/>

      <!-- form -->
      <form name="af-form" method="post" action="#contact" class="af-form row" id="af-form">

        <div class="col-sm-6 pull-right">
          <div class="af-outer af-required">
            <div class="form-group af-inner">
              <input disabled type="text" name="name" id="name" size="30" value="" placeholder="Name *" class="form-control placeholder" />
            </div>
          </div>

          <div class="af-outer af-required">
            <div class="form-group af-inner">
              <input disabled type="text" name="email" id="email" size="30" value="" placeholder="Email *" class="form-control placeholder" />
            </div>
          </div>

          <div class="af-outer af-required">
            <div class="form-group af-inner">
              <input disabled type="text" name="subject" id="subject" size="30" value="" placeholder="Subject *" class="form-control placeholder" />
              <!-- <label class="error" for="subject" id="subject_error">Email is required.</label> -->
            </div>
          </div>
        </div>

        <div class="col-sm-6 pull-left">
          <div class="af-outer af-required">
            <div class="form-group af-inner">
              <textarea disabled name="message" id="input-message" cols="30" placeholder="Message *" class="form-control placeholder"></textarea>
            </div>
          </div>
        </div>

        <div class="col-sm-12 af-outer af-required">
          <div class="form-group af-inner">
            <input disabled type="submit" name="submit" class="btn btn-block btn-theme btn-theme-invert form-button" id="submit_btn" value="Send Message!" />
          </div>
        </div>

      </form>
      <!-- /form -->

    </div>
  </div>
</section>
<!-- /get ın touch -->
