<!-- Footer
================================================== -->
<footer>
  <div class="container">
    <div class="row">
    	<div class="col-md-6">
    		<p id="copytext">Copyright &copy; <a href="http://www.geekulcha.com/" title="">Geekulcha</a> 2014</p>
    	</div><!-- // .eight -->
    	<div class="col-md-6">
    		<ul id="social">
    			<li><a href="https://twitter.com/Geekulcha" title=""><i class="fa fa-twitter fa-2x"></i></a></li>
    			<li><a href="http://www.facebook.com/geekulcha" title=""><i class="fa fa-facebook fa-2x"></i></a></li>
    			<li><a href="https://plus.google.com/105852459159546202310" title=""><i class="fa fa-google-plus fa-2x"></i></a></li>
    			<li><a href="http://instagram.com/geekulcha" title=""><i class="fa fa-instagram fa-2x"></i></a></li>
    			<li><a href="http://www.youtube.com/Geekulcha" title=""><i class="fa fa-youtube fa-2x"></i></a></li>
    		</ul><!-- // ul#social -->
    	</div>
    </div>
	</div><!-- // .container -->
</footer><!-- // #section-footer -->
