<!-- <ul class="slides">
	<li class="viewport_gallery_slide home_gallery_slide_1">
		<div class="home_gallery_slide_content">
			<p class="ficon slide_logo">&#xe624;</p>
			<p class="line1">Welcome to</p>
			<h1><span class="line2">Christchurch</span>
			<span class="line3 lg">Harbour</span>
			<span class="line4">Hotel &amp; Spa</span></h1>
			<p class="line5 credit">Selected by The Sunday Times Travel as one of the Top 10 Coastal Hotels in the UK and Ireland.</p>
		</div>

	</li>
	<li class="viewport_gallery_slide home_gallery_slide_wake-up">

		<div class="home_gallery_slide_content dark_landing_content">
			<a href="http://www.christchurch-harbour-hotel.co.uk/stay/">
				<p class="line1">Wake up to</p>
				<p class="line2">Spectacular</p>
				<p class="line3 lg">Harbour <span class="sm">Views</span></p>
				<p class="button">See more</p>
			</a>
		</div>
	</li>

</ul> -->

<div ng-controller="IntroController">
  <flex-slider slide="s in mySlides" control-nav=false>
    <li><img ng-src="{{s}}"></li>
  </flex-slider>

		<div id="section-info">
			<div class="container">
				<div class="col-md-8">
					<div class="row  countdown">
						<div class="col-md-3 animated" data-animation-delay="0" data-animation="fadeInUp">
							<div id="days">00</div><div id="days-text">Days</div>
						</div>
						<div class="col-md-3 animated" data-animation-delay="200" data-animation="fadeInUp">
							<div id="hours">00</div><div id="hours-text">Hours</div>
						</div>
						<div class="col-md-3 animated" data-animation-delay="400" data-animation="fadeInUp">
							<div id="minutes">00</div><div id="minutes-text">Mins</div>
						</div>
						<div class="col-md-3 animated" data-animation-delay="600" data-animation="fadeInUp">
							<div id="seconds">00</div><div id="seconds-text">Secs</div>
						</div>
					</div>
				</div><!-- // .four -->

				<div class="col-md-4">
					<a class="button" id="register-btn" target="_blank" href="#">Register Now</a>
				</div><!-- // .four -->

				<div class="clear"></div>
			</div><!-- // .container -->
		</div><!-- // #section-info -->

</div>
