<div ng-controller="IntroController">
	<div id="page-top" class="home-minimal">
	  <div class="banner row table-wrapper full">
	    <div class="container center shave table-cell vcenter">
				<h1 style="margin-bottom: 0px; margin-top: 150px; text-shadow: 2px 2px white; font-size: 4em; font-weight: 700;">
	        Ready to Show Off Your SKills?
	      </h1>
	      <h2 style="text-shadow: 2px 2px #333;">Come join us for our first annual hackathon <br> and together let's build awesome stuff</h2>
	      <hr/>
	    </div>
	  </div><!-- /banner -->
	</div>

	<section id="section-info">
		<div class="container">
			<div class="col-md-8">
				<div class="row">
					<div class="text-center col-md-6"><h2><i class="fa fa-map-marker fa-2x"></i>  &nbsp;&nbsp;Innovation Hub</h2> </div>
					<div class="text-center col-md-6"><h2><i class="fa fa-calendar fa-2x"></i> &nbsp;&nbsp;27th June 2014</h2></div>
				</div>
			</div><!-- // .four -->

			<div class="text-center col-md-4">
				<a class="button" id="register-btn" href="/register">Register Now</a>
			</div><!-- // .four -->

			<div class="clear"></div>
		</div><!-- // .container -->
	</section><!-- // #section-info -->

</div>
