<!-- <div backstrech backgroundUrl="images/innohub.jpg"></div> -->
<div hidden ng-include="'partials/navbar'"></div>
<img src="images/innohub.jpg" class="register-bg">

<div id="reg-page-wrap">
  <div class="row col-sm-12">
    <div class="col-sm-6"><img class="img-responsive" src="images/gk/logo_small.png" alt="GKHack '14"></div>
    <div class="col-sm-6"><h1 style="font-size:2em !important;">Registration</h1></div>
  </div>

  <div style="width:100%; text-align:left;" >
    <iframe  src="//eventbrite.com/tickets-external?eid=12041463341&ref=etckt"
             frameborder="0" height="214" width="100%" vspace="0" hspace="0"
             marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
    <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
      <a style="color:#777; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online event registration</a>
        <span style="color:#777;"> for </span>
      <a style="color:#e74c3c; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/gkhack-14-tickets-12041463341?ref=etckt">GKhack '14</a>
      <span style="color:#777;">powered by</span> <a style="color:#e74c3c; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a>
    </div>
  </div>

  <a href="/" style="font-family: 'Lato', sans-serif; font-weight: 300; -webkit-font-smoothing: antialiased;
font-smoothing: antialiased; color: #e74c3c;"><i class="fa fa-home"></i> Return Home</a>
</div>
