<!-- Service -->
<div class="service">
  <!-- Container -->
  <div class="container">
    <!-- Service-Content -->
    <div class="service-content text-center">
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <!-- Service Item -->
          <div class="service-item">
            <!-- Flat Icon -->
            <img src="images/diod.png" alt="" class="images-responsive" style="max-width:90px;"/>
            <!-- Heading -->
            <h3>Electronics</h3>
            <!-- Paragraph -->
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <!-- Service Item -->
          <div class="service-item">
            <img src="images/responsive.png" alt="" class="images-responsive" style="max-width:90px;"/>
            <h3>Web Development</h3>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <!-- Service Item -->
          <div class="service-item">
            <img src="images/mobile.png" alt="" class="images-responsive" style="max-width:90px;"/>
            <h3>Mobile Apps</h3>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <!-- Service Item -->
          <div class="service-item">
            <img src="images/heart.png" alt="" class="images-responsive" style="max-width:90px;"/>
            <h3>UI/UX Design</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
