<section id="api-partners">
	<div class="block wrapper">
		<h1 class="text-center">The Sponsors</h1>
		<div class="row text-center">
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://twitter.com" target="_blank"><img class="img-responsive" alt="Twitter" src="http://thenextweb.com/conference/assets/uploads/tnw-europe-conf-2014/companies/twitter.png"></a></div>

				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="https://www.spotify.com/us/" target="_blank"><img class="img-responsive" alt="Spotify" src="http://thenextweb.com/conference/assets/uploads/tnw-europe-conf-2014/companies/spotify.png"></a></div>

				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://www.deezer.com/" target="_blank"><img class="img-responsive" alt="Deezer" src="http://thenextweb.com/conference/assets/uploads/tnw-europe-conf-2014/companies/deezer.png"></a></div>

				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://www.mashery.com/" target="_blank"><img class="img-responsive" alt="Mashery" src="http://thenextweb.com/conference/assets/uploads/tnw-europe-conf-2014/companies/mashery.png"></a></div>

				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://sendgrid.com/" target="_blank"><img class="img-responsive" alt="SendGrid" src="http://thenextweb.com/conference/assets/uploads/tnw-europe-conf-2014/companies/sendgrid.png"></a></div>

				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://sendgrid.com/" target="_blank"><i class="fa fa-microsoft fa-2x"></i></a></div>

		</div>
	</div>
</section>
