<section id="sponsors">
	<div class="block wrapper">
		<h1 class="text-center">The Sponsors</h1>
		<div class="row text-center">
				<!-- <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://twitter.com" target="_blank"><img class="img-responsive" alt="Twitter" src="http://thenextweb.com/conference/assets/uploads/tnw-europe-conf-2014/companies/twitter.png"></a></div> -->

				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter fa-5x"></i></a></div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://developer.android.com/" target="_blank"><i class="fa fa-android fa-5x"></i></a></div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://google.com/" target="_blank"><i class="fa fa-google fa-5x"></i></a></div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://piedpiper.com/" target="_blank"><i class="fa fa-pied-piper fa-5x"></i></a></div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://github.com/" target="_blank"><i class="fa fa-github fa-5x"></i></a></div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2"><a href="http://microsoft.com/" target="_blank"><i class="fa fa-windows fa-5x"></i></a></div>

		</div>
	</div>
</section>
