<!-- Schedule
================================================== -->
<section id="timeline">
  <div class="container">
    <div class="row col-md-12">
      <h1 class="text-center">Timeline</h1>

      <table>
        <thead>
          <tr>
            <td>Time</td>
            <td>Programs</td>
            <td>More</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>21st June &nbsp; <i class="fa fa-clock-o"></i> 11:00 ~ 15:00</td>
            <td>Girls in IT</td>
            <td>
              <a target="_blank" href="http://www.htxt.co.za/2014/06/19/geekulchas-girls-in-ict-meetup-happening-this-weekend/"><i class="fa fa-info"></i> More info</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;
              <span><i class="fa fa-map-marker"></i> mLab-SA</span>
            </td>
          </tr>
          <tr>
            <td>23rd June &nbsp; <i class="fa fa-clock-o"></i> 10:00 ~ 14:00</td>
            <td>Launch Of Youth FabLab</td>
            <td>
              Private Event &nbsp;| &nbsp;
              <span><i class="fa fa-map-marker"></i> Innovation Hub</span>
            </td>
          </tr>
          <tr>
            <td>23rd June &nbsp; <i class="fa fa-clock-o"></i> 11:00 ~ 15:00</td>
            <td>Mobile Monday</td>
            <td>
              <a target="_blank" href="http://www.eventbrite.com/e/momo-joburg-sponsored-by-microsoft-tickets-11852815089"><i class="fa fa-info"></i> More info</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;
              <span><i class="fa fa-map-marker"></i> Protea Fire and Ice, Melrose Arch</span>
            </td>
          </tr>
          <tr>
            <td>24th June &nbsp; <i class="fa fa-clock-o"></i> 18:00 ~ 22:00</td>
            <td>Regular Tuesday House4Hack Meetup</td>
            <td>
              <a target="_blank" href="http://goo.gl/IZE78Z"><i class="fa fa-info"></i> More info</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;
              <span><i class="fa fa-map-marker"></i> House4Hack Centurion</span>
            </td>
          </tr>
          <tr>
            <td>24th June &nbsp; <i class="fa fa-clock-o"></i> 09:00 ~ 12:30</td>
            <td>New Data Logging Technologies and <br> Effective Techniques for Data Management</td>
            <td>
              <a target="_blank" href="http://www.eventbrite.com/e/momo-joburg-sponsored-by-microsoft-tickets-11852815089"><i class="fa fa-info"></i> More info</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;
              <span><i class="fa fa-map-marker"></i> CSIR International Convention Centre</span>
            </td>
          </tr>
          <tr>
            <td>25th June &nbsp; <i class="fa fa-clock-o"></i> 09:00 ~ 18:00</td>
            <td>Google I/O</td>
            <td>
              <a target="_blank" href="http://bit.ly/SXcb0D"><i class="fa fa-info"></i> More info</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;
              <span><i class="fa fa-map-marker"></i> Innovation Hub</span>
            </td>
          </tr>
          <tr>
            <td>26th June &nbsp; <i class="fa fa-clock-o"></i> 09:00 ~ 18:00</td>
            <td>Google I/O</td>
            <td>
              <a target="_blank" href="http://bit.ly/SXcb0D"><i class="fa fa-info"></i> More info</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;
              <span><i class="fa fa-map-marker"></i> Innovation Hub</span>
            </td>
          </tr>
          <tr>
            <td>27th June &nbsp; <i class="fa fa-clock-o"></i> 09:00 ~ 15:00</td>
            <td>eKasi Labs Launch</td>
            <td>
              <a target="_blank" href=""><i class="fa fa-info"></i> Registration Link to be confirmed</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- |&nbsp;
              <span><i class="fa fa-map-marker"></i> Innovation Hub</span> -->
            </td>
          </tr>
          <tr>
            <td>27th June &nbsp; <i class="fa fa-clock-o"></i> 17:00 ~ </td>
            <td>GKHack '14</td>
            <td>
              <a target="_blank" href="hackathon.geekulcha.com"><i class="fa fa-info"></i> More info</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;
              <span><i class="fa fa-map-marker"></i> Innovation Hub</span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
            </td>
          </tr>
        </tfoot>
      </table>
    </div><!-- // .sixteen -->

    <div class="clear"></div>
  </div><!-- // .container -->
</section><!-- // #section-programs -->
