<!-- Schedule
================================================== -->
<section id="timeline">
  <div class="container">
    <div class="row col-md-12">
      <h1 class="text-center">Timeline</h1>

      <table>
        <thead>
          <tr>
            <td>Time</td>
            <td>Programs</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>23rd June ~ 26th June</td>
            <td>Various Training <span class="pull-right"><i class="fa fa-map-marker"></i> mLab-SA</span></td>
          </tr>
          <tr>
            <td>27th June ~ 4:00PM</td>
            <td>Hackathon Starts <span class="pull-right"><i class="fa fa-map-marker"></i> Innovation Hub</span></td>
          </tr>
          <tr>
            <td>28th June ~ 3:00PM</td>
            <td>Team Presents solutions to Judges</td>
          </tr>
          <tr>
            <td>28th June ~ 4:00PM</td>
            <td>Prizes &amp; Wrap-up</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <!-- <span id="line-sponsor">Sponsered by <span class="font-blue"><a href="#" title="Event Camp">Energy Camp</a></span></span> -->
            </td>
          </tr>
        </tfoot>
      </table>
    </div><!-- // .sixteen -->

    <div class="clear"></div>
  </div><!-- // .container -->
</section><!-- // #section-programs -->
