<!-- Header Start -->
<header>
  <!-- Container -->
  <div class="container">
    <!-- Logo -->

    <!-- Countdown Block -->
    <div class="countdown-block">
      <h3><strong>We are On the way</strong></h3>
      <!-- Countdown -->
      <div class="countdown"></div>
    </div>
    <!-- Header Content -->
    <div class="header-content">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <!-- About-Us -->
          <div class="about-us">
            <h2><strong>About</strong> GKHack</h2>
            <p>GKHack is the annual Hackathon hosted by Geekulcha that aims to put together a massive brain activity of our geeks in one place to create cool things that matter! If you want to Learn and Build cool things or make some new friends GKHack is the right event for you. We belive that our geeks can use their skills to solve real problems  faced everyday, change people life and most important of all make AFRICA a better place.<br><p></p><p></p></p>
            </p>
            <!-- Social icons -->
             <div class="social">
                <a href="https://www.facebook.com/Geekulcha" class="facebook"> <i class="fa fa-facebook"></i> </a>
                <a href="https://twitter.com/Geekulcha"class="twitter"> <i class="fa fa-twitter"></i> </a>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <!-- Subscriber Form -->
          <div class="subscriber-form">
            <h2><strong>Subscribe</strong> Now</h2>
            <p>Subscribe now and get notified as soon as the GK14Hack registration process is open!</p>
            <!-- Input Group -->
            <div class="input-group">
                            <form role="form">
                              <input type="text" class="form-control input-lg" placeholder="Name">
              <input type="text" class="form-control input-lg" placeholder="Email">
              <span class="input-group-btn">
                <button type="button" class="btn btn-lg">Subscribe</button>
              </span>
                              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header end -->

<!-- General -->

<!-- Service -->
<div class="service">
  <!-- Container -->
  <div class="container">
    <h3><span class="bxr-red">Ready to Show Off Your SKills?</span></h3>
    <h5>Our hacks are known for the diferent type of geeks we have under the same roof. You doesn't need to have programing skills to participate, there's always a team that will fit you with your other GeekSkills.</h5>
    <!-- Service-Content -->
    <div class="service-content text-center">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!-- Service Item -->
          <div class="service-item">
            <!-- Flat Icon -->
            <a href="#"><img src="images/diod.png" alt="" class="images-responsive" /></a>
            <!-- Heading -->
            <h2><a href="#">Electronics</a></h2>
            <!-- Paragraph -->
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!-- Service Item -->
          <div class="service-item">
            <a href="#"><img src="images/responsive.png" alt="" class="images-responsive" /></a>
            <h2><a href="#">Web Developing</a></h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!-- Service Item -->
          <div class="service-item">
            <a href="#"><img src="images/mobile.png" alt="" class="images-responsive" /></a>
            <h2><a href="#">Mobile Apps</a></h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!-- Service Item -->
          <div class="service-item">
            <a href="#"><img src="../images/heart.png" alt="" class="images-responsive" /></a>
            <h2><a href="#">UI/UX Designing</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Footer Start-->
<footer>
  <!-- Container -->
  <div class="container">
    <!-- Copyright -->
    <div class="copyright">
      <p>&copy; Geekulcha 2014 <a href="http://www.geekulcha.com/">Geekulcha</a></p>
    </div>
  </div>
</footer>
<!-- Footer End -->
