<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" type="text/css" href="styles/jquery.countdown.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="comingsoonApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- <div class="" ng-view=""></div> -->
<!-- Header Start -->
<header>
  <!-- Container -->
  <div class="container">
    <!-- Logo -->

    <!-- Countdown Block -->
    <div class="countdown-block">
      <h3><strong>We are On the way</strong></h3>
      <!-- Countdown -->
      <div class="countdown"></div>
    </div>
    <!-- Header Content -->
    <div class="header-content">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <!-- About-Us -->
          <div class="about-us">
            <h2><strong>About</strong> GKHack</h2>
            <p>GKHack is the annual Hackathon hosted by Geekulcha that aims to put together a massive brain activity of our geeks in one place to create cool things that matter! If you want to Learn and Build cool things or make some new friends GKHack is the right event for you. We belive that our geeks can use their skills to solve real problems  faced everyday, change people life and most important of all make AFRICA a better place.<br><p></p><p></p></p>
            </p>
            <!-- Social icons -->
             <div class="social">
                <a href="https://www.facebook.com/Geekulcha" class="facebook"> <i class="fa fa-facebook"></i> </a>
                <a href="https://twitter.com/Geekulcha"class="twitter"> <i class="fa fa-twitter"></i> </a>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <!-- Subscriber Form -->
          <div class="subscriber-form">
            <h2><strong>Subscribe</strong> Now</h2>
            <p>Subscribe now and get notified as soon as the GK14Hack registration process is open!</p>
            <!-- Input Group -->
            <div class="input-group" ng-controller="SignupCtrl">
              <form role="form" ng-submit="subscribe()" novalidate>
                <input type="text" class="form-control input-lg" placeholder="Name" ng-model="subscriber.name">
                <input type="text" class="form-control input-lg" placeholder="Email" ng-model="subscriber.email">
                <span class="input-group-btn">
                  <input type="submit" value="Subscribe" class="btn btn-lg" />
                  <!-- <button type="button" class="btn btn-lg">Subscribe</button> -->
                </span>
              </form>

              <div ng-show="error" class="alert alert-danger alert-dismissable" style="margin-top:20px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Oups something went wrong!</strong> <br> {{ error }}
              </div>
              <div ng-show="success" class="alert alert-success alert-dismissable" style="margin-top:20px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ success }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header end -->

<!-- General -->

<!-- Service -->
<div class="service">
  <!-- Container -->
  <div class="container">
    <h3><span class="bxr-red">Ready to Show Off Your SKills?</span></h3>
    <h5>Our hacks are known for the diferent type of geeks we have under the same roof. You doesn't need to have programing skills to participate, there's always a team that will fit you with your other GeekSkills.</h5>
    <!-- Service-Content -->
    <div class="service-content text-center">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!-- Service Item -->
          <div class="service-item">
            <!-- Flat Icon -->
            <a href="#"><img src="images/diod.png" alt="" class="images-responsive" /></a>
            <!-- Heading -->
            <h2><a href="#">Electronics</a></h2>
            <!-- Paragraph -->
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!-- Service Item -->
          <div class="service-item">
            <a href="#"><img src="images/responsive.png" alt="" class="images-responsive" /></a>
            <h2><a href="#">Web Developing</a></h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!-- Service Item -->
          <div class="service-item">
            <a href="#"><img src="images/mobile.png" alt="" class="images-responsive" /></a>
            <h2><a href="#">Mobile Apps</a></h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!-- Service Item -->
          <div class="service-item">
            <a href="#"><img src="../images/heart.png" alt="" class="images-responsive" /></a>
            <h2><a href="#">UI/UX Designing</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Footer Start-->
<footer>
  <!-- Container -->
  <div class="container">
    <!-- Copyright -->
    <div class="copyright">
      <p>&copy; Geekulcha 2014 <a href="http://www.geekulcha.com/">Geekulcha</a></p>
    </div>
  </div>
</footer>
<!-- Footer End -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/respondJs/dest/respond.src.js"></script>
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="bower_components/jquery.countdown/dist/jquery.countdown.js"></script>
    <script src="bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/angularfire/angularfire.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/services/subscriber.js"></script>
        <!-- endbuild -->
        <script type="text/JavaScript">
          $('.countdown').countdown('2014/06/27', function(event) {
           var $this = $(this).html(event.strftime(''
             + '<div class="date">%D <span>Days</span></div>  '
             + '<div class="date">%H <span>Hrs</span></div>  '
             + '<div class="date">%M <span>Min</span></div>  '
             + '<div class="date">%S <span>Sec</span></div> '));
          });
        </script>
</body>
</html>
