body, html {
	height: 100%;
	width: 100%;
}

textarea {
  resize: none;
}

p{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 1.5em !important;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1, h2, h3, h4 {
  color: #26313b;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.1
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: 300;
  margin: 0 0 0.5em 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased
}

h2 {
  margin-bottom: 0.5em
}

h2.cond {
  color: #a6abaf;
  letter-spacing: 3px !important
}

h3, h4 {
  line-height: 1.5
}

p {
  margin: 0 0 1.5em 0
}
p a {
  border-bottom: 1px solid rgba(255, 51, 39, 0);
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms
}
p a:hover {
  border-bottom: 1px solid rgba(255, 51, 39, 0.5)
}
p a.light {
  color: #a6abaf;
  border-color: rgba(166, 171, 175, 0)
}
p a.light:hover {
  border-color: rgba(166, 171, 175, 0.5)
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #fff;
}

.parallax {
    color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}


.flexslider {
  margin: 0 !important;
}

.block {
  padding-bottom: 4em !important;
  padding-top: 4em !important
}

.gk-hack h1,
.gk-hack .dropcap::first-letter {
  color: #e74c3c !important
}
.gk-hack #sponsors h1 {
  color: #fff !important
}

.justify {
  text-align: justify;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto
}



.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding-left: 1.5em;
  padding-right: 1.5em
}

@media screen and (min-width: 768px) {
  #top nav #nav-toggle {
    display: none
  }
  #top nav .logo {
    margin-left: 0
  }
  .wrapper {
    padding-left: 2.5em;
    padding-right: 2.5em
  }
  .fixed-image h1 {
    font-size: 4em
  }
  .fixed-image p {
    font-size: 3em;
    font-weight: 600
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 16px
  }
  .wrapper {
    padding-left: 4em;
    padding-right: 4em
  }
}

#sponsors {
  background: #353535; /*url("../img/api-partners.png") no-repeat center center*/
  color: #fff;
  -moz-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.2)
}

#sponsors h1 {
  color: #fff
}

#contact {
  background: #161616; /*url("../img/api-partners.png") no-repeat center center*/
  color: #fff;
  -moz-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.2)

}


/* Buttons
/* ========================================================================== */

.btn {
    /*border-radius: 0;*/
}

.btn-theme {
    color: #d2d2dc;
    background-color: transparent;
    border-width: 2px;
    border-color: #d2d2dc;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;

    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
    color: #ffffff;
    background-color: #d2d2dc;
    border-color: #d2d2dc;
}

.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
    background-image: none;
}

.btn-theme.disabled,
.btn-theme[disabled],
fieldset[disabled] .btn-theme,
.btn-theme.disabled:hover,
.btn-theme[disabled]:hover,
fieldset[disabled] .btn-theme:hover,
.btn-theme.disabled:focus,
.btn-theme[disabled]:focus,
fieldset[disabled] .btn-theme:focus,
.btn-theme.disabled:active,
.btn-theme[disabled]:active,
fieldset[disabled] .btn-theme:active,
.btn-theme.disabled.active,
.btn-theme[disabled].active,
fieldset[disabled] .btn-theme.active {
    background-color: transparent;
    border-color: #d2d2dc;
    color: #d2d2dc;
}

.btn-theme .badge {
    color: #d2d2dc;
    background-color: transparent;
}

.btn-theme-primary {
    color: #ffffff;
    background-color: #1e90ff;
    border-color: #1e90ff;
}

.btn-theme-primary:focus,
.btn-theme-primary:active,
.btn-theme-primary:hover {
    background-color: #006ad1;
    border-color: #006ad1;
}

.btn-theme-white {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
}

.btn-theme-white:hover {
    color: #ffffff;
    background-color: #1e90ff;
    border-color: #ffffff;
}

.btn-theme-invert {
    color: #ffffff;
    background-color: #414650;
    border-color: #414650;
}

.btn-theme-default {
    color: #ffffff;
    background-color: #d2d2dc;
    border-color: #d2d2dc;
}

.btn-theme-default:hover {
    background-color: #414650;
    border-color: #414650;
}

.btn-theme-sm {
    padding: 8px 20px;
    font-size: 14px;
}

.about-event .btn-theme-group .btn-theme {
    margin-right: 15px;
}

@media (max-width: 639px) {
    .about-event .btn-theme-group .btn-theme + .btn-theme {
        margin-top: 15px;
    }
}

.dropcap::first-letter {
  color: #ff3c1f;
  float: left;
  font: 300 3.4em 'Lato', sans-serif;
  line-height: 1.5rem;
  margin: 0.23em 0.15em 0 0
}
@-moz-document url-prefix() {
  .dropcap: : first-letter {
    margin-top: 0.14em
  }
}
.small.dropcap::first-letter {
  font-size: 3.2em;
  margin-top: 0.2em
}

/*navbar*/
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #f7f7f7;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}
.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    border-top: 2px solid rgba(255,255,255,0);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    border-top: 2px solid #e74c3c;
    background-color: rgba(238,238,238,.5);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #F7F7F7;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}
/*end navbar*/

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


/*button*/
button,
.button {
	background: #ff3c1f;
	border: 1px solid #F14;
	color: #FFF;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	line-height: normal !important;
	overflow: hidden;
	padding: 0.55em 1.2em 0.65em;
	position: relative;
	vertical-align: top;
	margin: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-moz-border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	border-radius: 0.15em;
	background: -moz-linear-gradient(bottom left, #ff194a, #ff3327);
	background: -webkit-linear-gradient(bottom left, #ff194a, #ff3327);
	background: linear-gradient(to top right, #ff194a, #ff3327);
	-moz-transition: border 300ms;
	-o-transition: border 300ms;
	-webkit-transition: border 300ms;
	transition: border 300ms
}
button[class*="ss-"],
.button[class*="ss-"] {
	line-height: 1;
	margin-right: 0.1em;
	position: relative;
	top: 0.2em
}
button:hover,
.button:hover {
	background: -moz-linear-gradient(bottom left, #ff4825, #ff4825);
	background: -webkit-linear-gradient(bottom left, #ff4825, #ff4825);
	background: linear-gradient(to top right, #ff4825, #ff4825);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1)
}
button.big,
.button.big {
	font-size: 1.2em
}
button.skew,
.button.skew {
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	font: 400 1.4em'Fjalla One', sans-serif;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-transform: skew(-20deg, 0);
	-ms-transform: skew(-20deg, 0);
	-webkit-transform: skew(-20deg, 0);
	transform: skew(-20deg, 0)
}
button.skew span,
.button.skew span {
	display: inline-block;
	-moz-transform: skew(20deg, 0deg);
	-ms-transform: skew(20deg, 0deg);
	-webkit-transform: skew(20deg, 0deg);
	transform: skew(20deg, 0deg)
}
button.skew:hover,
.button.skew:hover {
	border-color: #fff
}
button.transparent,
.button.transparent {
	background: none;
	border: 2px solid rgba(255, 255, 255, 0.5);
	color: #FFF
}
button.transparent:hover,
.button.transparent:hover {
	border-color: #FFF
}
button.transparent.red,
.button.transparent.red {
	border: 2px solid rgba(255, 60, 31, 0.5);
	color: #ff3c1f
}
button.transparent.red:hover,
.button.transparent.red:hover {
	border-color: #ff3c1f
}
button:active,
button:focus,
.button:active,
.button:focus {
	padding-bottom: 0.6em;
	padding-top: 0.6em;
	-moz-box-shadow: inset 0 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px rgba(0, 0, 0, 0.05)
}
button[disabled],
button[disabled]:active,
button[disabled]:focus,
button[disabled]:hover,
button.disabled,
button.disabled:active,
button.disabled:focus,
button.disabled:hover,
.button[disabled],
.button[disabled]:active,
.button[disabled]:focus,
.button[disabled]:hover,
.button.disabled,
.button.disabled:active,
.button.disabled:focus,
.button.disabled:hover {
	cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none
}


#intro-slider .item img{
    display: block;
    width: 100%;
    height: auto;
}

.flexslider {
    border: 0px;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-bottom: 50px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


footer {
	font: normal 13px/26px 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #000;
}

footer p#copytext {
	color: #777;
  font-size: 1.1em !important;
	margin: 35px 0;
}

footer a { color: #e74c3c; }

footer a:hover { color: #eee; }


footer ul#social {
  -webkit-padding-start: 0px !important;
	float: right;
	border-left: 1px solid #111;
  margin: 0 !important;
}

footer ul#social li {
	display: inline-block;
	float: left;
}

footer ul#social li a {
	display: block;
	padding: 30px;
	border-right: 1px solid #111;
}

footer ul#social li a:hover {
	background: #e74c3c;
}


/* af-form
/* ========================================================================== */

.get-in-touch .af-form .form-control {
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
}

.get-in-touch .af-form textarea.form-control {
    height: 210px;
}

.af-form .form-group {
    text-align: left;
}
.af-form label {
    margin-left: 13px;
    font-weight: normal;
}

#af-form-gq.af-form label {
    font-size: 13px;
}

@media (max-width: 767px) {
    .get-in-touch .pull-left,
    .get-in-touch .pull-right {
        float: none !important;
    }
}



	/*---------------------------------------------------
		3.2 Event

		* Includes site logo and event details
		* Date, Time, and Location of the event
	---------------------------------------------------*/

	#section-event {
		color: #fff;
		/* The background image used in this template is 1980 by 650 pixels */
		background: #111 url('../images/bg_eventcamp.jpg') no-repeat center 0;
	}

		/* Site Title/Logo */
		#section-event h1 {
			color: #fff;
			font: bold 95px/105px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			margin-top: 180px;
			margin-bottom: 100px;
		}

		#section-event h1 a {
			color: #fff;
		}

		#section-event h1 a:hover {
			color: #77aa44;
		}


		/* Event information */
		#section-info {
			background-color: #353535;
			padding: 30px 0;
		}

			#section-info h2 {
				color: #fff;
				font: bold 16px/28px 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
				text-transform: uppercase;
			}

			#section-info #box-date {
				background: url('../images/icons/icon_date.png') no-repeat left 5px;
				padding-left: 70px;
			}

			#section-info #box-time {
				background: url('../images/icons/icon_time.png') no-repeat left 5px;
				padding-left: 70px;
			}

			#section-info #box-location {
				background: url('../images/icons/icon_map.png') no-repeat left 5px;
				padding-left: 70px;
			}

			#section-info h3 {
				color: #fff;
				font: bold 13px/23px 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
				text-transform: uppercase;
				margin-bottom: 4px;
				letter-spacing: 2px;
			}

			#section-info p {
				color: #fff;
				font: normal 13px/23px 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
			}
	/*---------------------------------------------------
		3.8 Map
	---------------------------------------------------*/

	#section-map {
		height: 500px;
		position: relative;
		overflow: hidden;
	}

		#section-map #box-map {
			position: absolute;
			z-index: 10;
			top: 30px;
		}

			#section-map #box-map h2 {
				color: #222;
			}

		#map-wrap {
			width: 100%;
			height: 100%;
			position: relative;
		}


/* Footer */
/*

footer{
  background:#fff url(../images/grey_wash_wall.png) repeat;
  box-shadow:inset 0px 0px 15px #333;
  text-align:center;
}

footer  h2{
  margin-top:40px;
  font-size:35px !important;
  margin-bottom:20px;
  color:#fff;
}
footer .contact-block .btn:hover{
  background:#cf3735;
}*/

/* Copy Right */
/*footer .copyright{
  margin:0px 20px;
  border-top:1px solid #444;
}

footer .copyright p{
  padding:40px 0px;
  font-size:16px;
  color:#aaa;
}*/

/*footer .copyright p a{*/
  /*color:#aaa;*/
  /*border-bottom:1px dashed #aaa;*/
/*}*/

/*footer .copyright p a:hover{
  text-decoration:none;
  color:#e74c3c;
  border-bottom:0px;
}*/
/*
.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! *
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}

*/
/* !----------Intro Page---------- *\
.viewport_wrapper {
  width: 100%; }

.viewport_gallery {
  background: #222;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.viewport_gallery_slide {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

.home_gallery_slide_1 {
  background-image: url(/images/home/kayak-1020.jpg); }

@media screen and (max-width: 700px) {
  .home_gallery_slide_1 {
    background-image: url(/images/home/kayak-700.jpg);
    background-position: center bottom; } }

@media screen and (min-width: 1020px), (min-width: 700px) and (max-width: 1700px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 700px) and (max-width: 1700px) and (min-resolution: 192dppx) {
  .home_gallery_slide_1 {
    background-image: url(/images/home/kayak-1700.jpg); } }

@media screen and (min-width: 1700px) {
  .home_gallery_slide_1 {
    background-image: url(/images/home/kayak-2560.jpg); } }

.home_gallery_slide_xmas {
  background-image: url(/images/home/xmas_bg-2560.jpg);
  background-position: center bottom; }

@media screen and (max-width: 700px) {
  .home_gallery_slide_xmas {
    background-image: url(/images/home/xmas_bg-700.jpg);
    background-position: center bottom; } }

@media screen and (min-width: 1020px), (min-width: 700px) and (max-width: 1700px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 700px) and (max-width: 1700px) and (min-resolution: 192dppx) {
  .home_gallery_slide_xmas {
    background-image: url(/images/home/xmas_bg-1700.jpg); } }

@media screen and (min-width: 1700px) {
  .home_gallery_slide_xmas {
    background-image: url(/images/home/xmas_bg-2560.jpg); } }

.home_gallery_slide_wake-up {
  background-image: url(/images/home/harbour_views-1020.jpg); }

@media screen and (max-width: 700px) {
  .home_gallery_slide_wake-up {
    background-image: url(/images/home/harbour_views-700.jpg);
    background-position: center bottom; } }

@media screen and (min-width: 1020px), (min-width: 700px) and (max-width: 1700px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 700px) and (max-width: 1700px) and (min-resolution: 192dppx) {
  .home_gallery_slide_wake-up {
    background-image: url(/images/home/harbour_views-1700.jpg); } }

@media screen and (min-width: 1700px) {
  .home_gallery_slide_wake-up {
    background-image: url(/images/home/harbour_views-2560.jpg); } }

.home_gallery_slide_3 {
  background-image: url(/images/spa/spa_bg-1020.jpg); }

@media screen and (max-width: 700px) {
  .home_gallery_slide_3 {
    background-image: url(/images/spa/spa_bg-700.jpg);
    background-position: center bottom; } }

@media screen and (min-width: 1020px), (min-width: 700px) and (max-width: 1700px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 700px) and (max-width: 1700px) and (min-resolution: 192dppx) {
  .home_gallery_slide_3 {
    background-image: url(/images/spa/spa_bg-1700.jpg); } }

@media screen and (min-width: 1700px) {
  .home_gallery_slide_3 {
    background-image: url(/images/spa/spa_bg-2560.jpg); } }

.home_gallery_slide_4 {
  background-image: url(/images/home/food_drink-1020.jpg);
  background-position: center bottom; }

@media screen and (max-width: 700px) {
  .home_gallery_slide_4 {
    background-image: url(/images/home/food_drink-700.jpg); } }

@media screen and (min-width: 1020px), (min-width: 700px) and (max-width: 1700px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 700px) and (max-width: 1700px) and (min-resolution: 192dppx) {
  .home_gallery_slide_4 {
    background-image: url(/images/home/food_drink-1700.jpg); } }

@media screen and (min-width: 1700px) {
  .home_gallery_slide_4 {
    background-image: url(/images/home/food_drink-2560.jpg); } }

.home_gallery_slide_content {
  height: 280px;
  width: 940px;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -140px 0 0 -470px;
  color: #fff;
  font-family: 'Lato';
  font-weight: 300;
  line-height: 1;
  text-align: center;
  letter-spacing: 5px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .home_gallery_slide_content a {
    color: #fff; }
  .home_gallery_slide_content h1 span {
    display: block; }
  .home_gallery_slide_content .line1 {
    font-size: 20px;
    margin: 0 0 10px;
    letter-spacing: 5px; }
  .home_gallery_slide_content .line2 {
    font-size: 40px;
    margin: 0 0 15px; }
  .home_gallery_slide_content .line3 {
    font-size: 84px;
    margin: 0;
    padding: 0 0 30px;
    letter-spacing: 8px;
    line-height: 1; }
  .home_gallery_slide_content .line4 {
    font-size: 24px;
    letter-spacing: 8px;
    margin: 0 0 40px; }
  .home_gallery_slide_content .button {
    color: #fff;
    border-color: #fff;
    padding: 0 18px;
    height: 51px;
    line-height: 46px;
    border-width: 2px;
    font-family: 'Lato';
    cursor: pointer !important;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .home_gallery_slide_content .button:hover {
      background: #fff;
      color: #0a1d3b; }
  .home_gallery_slide_content img.header_dotted {
    width: 260px;
    position: absolute;
    top: 55px;
    display: inline; }
  .home_gallery_slide_content .header_dotted_l {
    left: 0; }
  .home_gallery_slide_content .header_dotted_r {
    right: 0; }

.home_gallery_slide_content a:hover .button {
  background: #fff;
  color: #0a1d3b; }

.home_gallery_slide_1 .home_gallery_slide_content {
  height: 490px;
  width: 700px;
  margin-left: -350px;
  margin-top: -255px; }
.home_gallery_slide_1 .slide_logo {
  font-size: 48px;
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  border: 1px solid #fff;
  text-indent: 3px;
  margin: 0 auto 40px;
  border-color: #71a8cb;
  border-color: rgba(255, 255, 255, 0.8); }
.home_gallery_slide_1 .line2 {
  font-size: 38px;
  margin: 0 0 5px;
  letter-spacing: 6px; }
.home_gallery_slide_1 .line3 {
  font-size: 100px;
  letter-spacing: 10px;
  padding: 0 0 10px; }
.home_gallery_slide_1 .line4 {
  font-size: 26px;
  margin: 0 0 30px;
  letter-spacing: 10px; }
.home_gallery_slide_1 .line5 {
  font-family: 'Georgia';
  text-transform: none;
  font-size: 18px;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  width: 430px;
  margin: 0 auto;
  padding: 0 0 40px; }
.home_gallery_slide_1 img.header_dotted {
  width: 240px;
  top: 46px; }

.home_gallery_slide_3 .home_gallery_slide_content {
  height: 310px;
  margin-top: -155px; }
.home_gallery_slide_3 .line2 {
  font-size: 34px; }
.home_gallery_slide_3 .line3 {
  font-size: 100px;
  padding: 0;
  margin-bottom: 15px; }
.home_gallery_slide_3 .line4 {
  font-size: 24px;
  margin: 0;
  padding: 0 0 40px; }
.home_gallery_slide_3 img.header_dotted {
  width: 240px;
  top: 46px; }

.home_gallery_slide_4 .home_gallery_slide_content {
  height: 290px;
  margin-top: -145px; }
.home_gallery_slide_4 .line2 {
  font-size: 34px; }
.home_gallery_slide_4 .line3 {
  font-size: 82px;
  padding: 0;
  margin-bottom: 20px; }
.home_gallery_slide_4 .line4 {
  font-size: 28px;
  margin: 0;
  padding: 0 0 35px; }
.home_gallery_slide_4 img.header_dotted {
  width: 240px;
  top: 46px; }

.csstransitions .home_gallery_slide_content {
  opacity: 0;
  -webkit-transform: translate3d(0, -20px, 0) scale(0.85);
  -ms-transform: translate3d(0, -20px, 0) scale(0.85);
  transform: translate3d(0, -20px, 0) scale(0.85);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
.csstransitions .flex-active-slide .home_gallery_slide_content {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1; }

@media screen and (max-width: 999px) {
  .home_gallery_slide_wake-up .home_gallery_slide_content {
    width: 680px;
    height: 250px;
    margin: -125px 0 0 -340px; }
  .home_gallery_slide_wake-up .line1 {
    font-size: 18px; }
  .home_gallery_slide_wake-up .line2 {
    font-size: 36px; }
  .home_gallery_slide_wake-up .line3 {
    font-size: 66px; }
  .home_gallery_slide_wake-up img.header_dotted {
    display: none; }
  .home_gallery_slide_3 .home_gallery_slide_content {
    width: 680px;
    margin-left: -340px; }
  .home_gallery_slide_3 .line1 {
    font-size: 18px; }
  .home_gallery_slide_3 .line2 {
    font-size: 30px; }
  .home_gallery_slide_3 .line3 {
    font-size: 76px;
    margin-bottom: 20px; }
  .home_gallery_slide_3 .line4 {
    font-size: 22px; }
  .home_gallery_slide_3 img.header_dotted {
    display: none; }
  .home_gallery_slide_4 .home_gallery_slide_content {
    width: 680px;
    margin-left: -340px; }
  .home_gallery_slide_4 .line2 {
    font-size: 30px; }
  .home_gallery_slide_4 .line3 {
    font-size: 58px;
    margin-bottom: 15px; }
  .home_gallery_slide_4 .line4 {
    font-size: 26px;
    padding-bottom: 30px; }
  .home_gallery_slide_4 img.header_dotted {
    display: none; } }

@media screen and (max-height: 770px) {
  .home_gallery_slide_1 .home_gallery_slide_content {
    height: 410px;
    margin-top: -215px; }
  .home_gallery_slide_1 .slide_logo {
    font-size: 36px;
    width: 66px;
    height: 66px;
    line-height: 66px;
    margin-bottom: 30px; }
  .home_gallery_slide_1 .line2 {
    font-size: 26px; }
  .home_gallery_slide_1 .line3 {
    font-size: 80px; }
  .home_gallery_slide_1 .line4 {
    margin: 0 0 25px; }
  .home_gallery_slide_1 .line5 {
    padding-bottom: 35px; }
  .home_gallery_slide_wake-up .home_gallery_slide_content {
    height: 230px;
    margin-top: -115px; }
  .home_gallery_slide_3 .home_gallery_slide_content {
    height: 280px;
    margin-top: -140px; }
  .home_gallery_slide_3 .line1 {
    font-size: 18px; }
  .home_gallery_slide_3 .line2 {
    font-size: 28px; }
  .home_gallery_slide_3 .line3 {
    font-size: 84px; }
  .home_gallery_slide_3 .line4 {
    padding-bottom: 30px; }
  .home_gallery_slide_4 .home_gallery_slide_content {
    height: 280px;
    margin-top: -140px; }
  .home_gallery_slide_4 .line2 {
    font-size: 30px; }
  .home_gallery_slide_4 .line3 {
    font-size: 58px; }
  .home_gallery_slide_4 .line4 {
    font-size: 26px; } }

@media screen and (max-width: 740px) {
  .home_gallery_slide_1 .home_gallery_slide_content {
    width: 620px;
    height: 410px;
    margin: -205px 0 0 -310px; }
  .home_gallery_slide_1 .slide_logo {
    font-size: 34px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 25px; }
  .home_gallery_slide_1 .line2 {
    font-size: 28px; }
  .home_gallery_slide_1 .line3 {
    font-size: 78px;
    letter-spacing: 8px; }
  .home_gallery_slide_1 .line4 {
    font-size: 24px;
    letter-spacing: 8px;
    margin-bottom: 25px; }
  .home_gallery_slide_1 .line5 {
    padding-bottom: 35px; }
  .home_gallery_slide_wake-up .home_gallery_slide_content {
    width: 620px;
    height: 210px;
    margin: -105px 0 0 -310px; }
  .home_gallery_slide_wake-up .line2 {
    font-size: 34px; }
  .home_gallery_slide_wake-up .line3 {
    font-size: 58px; }
  .home_gallery_slide_3 .home_gallery_slide_content {
    width: 540px;
    margin-left: -270px;
    height: 260px;
    margin-top: -130px; }
  .home_gallery_slide_3 .line1 {
    font-size: 18px;
    margin-bottom: 10px; }
  .home_gallery_slide_3 .line2 {
    font-size: 26px;
    margin-bottom: 15px; }
  .home_gallery_slide_3 .line3 {
    font-size: 68px; }
  .home_gallery_slide_3 .line4 {
    font-size: 20px;
    padding-bottom: 35px; }
  .home_gallery_slide_4 .home_gallery_slide_content {
    width: 540px;
    margin-left: -270px;
    height: 230px;
    margin-top: -115px; }
  .home_gallery_slide_4 .line1 {
    font-size: 18px;
    margin-bottom: 10px; }
  .home_gallery_slide_4 .line2 {
    font-size: 26px;
    margin-bottom: 15px; }
  .home_gallery_slide_4 .line3 {
    font-size: 46px;
    margin-bottom: 13px; }
  .home_gallery_slide_4 .line4 {
    font-size: 24px;
    padding-bottom: 25px; } }

@media screen and (max-width: 650px) {
  .home_gallery_slide_1 .home_gallery_slide_content {
    width: 400px;
    height: 340px;
    margin: -170px 0 0 -200px; }
  .home_gallery_slide_1 .slide_logo {
    font-size: 26px;
    width: 54px;
    height: 54px;
    line-height: 54px;
    margin-bottom: 25px; }
  .home_gallery_slide_1 .line1 {
    font-size: 14px;
    letter-spacing: 6px; }
  .home_gallery_slide_1 .line2 {
    font-size: 20px;
    margin-bottom: 10px; }
  .home_gallery_slide_1 .line3 {
    font-size: 58px;
    margin-bottom: 2px; }
  .home_gallery_slide_1 .line4 {
    font-size: 18px;
    margin-bottom: 20px; }
  .home_gallery_slide_1 .line5 {
    width: 360px;
    font-size: 15px;
    padding-bottom: 30px; }
  .home_gallery_slide_wake-up .home_gallery_slide_content {
    width: 400px;
    margin-left: -200px;
    height: 200px;
    margin-top: -100px; }
  .home_gallery_slide_wake-up .line1 {
    font-size: 16px;
    margin-bottom: 10px; }
  .home_gallery_slide_wake-up .line2 {
    font-size: 20px;
    margin-bottom: 15px; }
  .home_gallery_slide_wake-up .line3 {
    font-size: 42px;
    letter-spacing: 3px; }
  .home_gallery_slide_3 .home_gallery_slide_content {
    width: 400px;
    margin-left: -200px;
    height: 230px;
    margin-top: -115px; }
  .home_gallery_slide_3 .line1 {
    font-size: 16px;
    margin-bottom: 10px; }
  .home_gallery_slide_3 .line2 {
    font-size: 20px;
    margin-bottom: 15px; }
  .home_gallery_slide_3 .line3 {
    font-size: 52px;
    margin-bottom: 15px;
    letter-spacing: 6px; }
  .home_gallery_slide_3 .line4 {
    font-size: 16px;
    padding-bottom: 35px; }
  .home_gallery_slide_4 .home_gallery_slide_content {
    width: 400px;
    margin-left: -200px;
    height: 230px;
    margin-top: -115px; }
  .home_gallery_slide_4 .line1 {
    font-size: 16px;
    margin-bottom: 8px; }
  .home_gallery_slide_4 .line2 {
    font-size: 20px;
    margin-bottom: 17px; }
  .home_gallery_slide_4 .line3 {
    font-size: 36px;
    letter-spacing: 4px;
    margin-bottom: 20px; }
  .home_gallery_slide_4 .line4 {
    font-size: 20px;
    padding-bottom: 35px; } }

@media screen and (max-width: 450px) {
  .home_gallery_slide_content .button {
    height: 46px;
    line-height: 42px;
    min-width: 200px; }
  .home_gallery_slide_1 .home_gallery_slide_content {
    width: 240px;
    height: 320px;
    margin: -160px 0 0 -120px; }
  .home_gallery_slide_1 .slide_logo {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px; }
  .home_gallery_slide_1 .line2 {
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 8px; }
  .home_gallery_slide_1 .line3 {
    font-size: 42px;
    letter-spacing: 4px;
    margin-bottom: 2px; }
  .home_gallery_slide_1 .line4 {
    font-size: 16px;
    letter-spacing: 6px;
    margin-bottom: 20px; }
  .home_gallery_slide_1 .line5 {
    width: 220px;
    font-size: 13px;
    line-height: 1.3;
    padding-bottom: 25px; }
  .home_gallery_slide_wake-up .home_gallery_slide_content {
    width: 240px;
    height: 210px;
    margin: -105px 0 0 -120px; }
  .home_gallery_slide_wake-up .line1 {
    font-size: 14px;
    margin-bottom: 8px;
    letter-spacing: 4px; }
  .home_gallery_slide_wake-up .line2 {
    font-size: 18px;
    margin-bottom: 13px; }
  .home_gallery_slide_wake-up .line3 {
    font-size: 42px;
    letter-spacing: 4px;
    line-height: 40px;
    padding-bottom: 20px; }
    .home_gallery_slide_wake-up .line3 .sm {
      display: block;
      font-size: 14px;
      letter-spacing: 8px; }
  .home_gallery_slide_3 .home_gallery_slide_content {
    width: 280px;
    margin-left: -140px;
    height: 190px;
    margin-top: -95px; }
  .home_gallery_slide_3 .line1 {
    font-size: 13px;
    margin-bottom: 6px; }
  .home_gallery_slide_3 .line2 {
    font-size: 16px;
    margin-bottom: 13px; }
  .home_gallery_slide_3 .line3 {
    font-size: 42px;
    letter-spacing: 4px;
    margin-bottom: 15px; }
  .home_gallery_slide_3 .line4 {
    font-size: 13px;
    padding-bottom: 35px; }
  .home_gallery_slide_4 .home_gallery_slide_content {
    width: 300px;
    margin-left: -150px;
    height: 240px;
    margin-top: -120px; }
  .home_gallery_slide_4 .line1 {
    font-size: 14px;
    margin-bottom: 6px; }
  .home_gallery_slide_4 .line2 {
    font-size: 16px;
    margin-bottom: 11px; }
  .home_gallery_slide_4 .line3 {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 14px; }
    .home_gallery_slide_4 .line3 span {
      display: block; }
  .home_gallery_slide_4 .line4 {
    font-size: 14px;
    padding-bottom: 30px; } }
*/
